<% provide(:client, "Edit Client") %>
<h1>Updating Client</h1>

<%= render 'form', client: @client, button_name: 'Edit',  :confirm => "Are you sure?" %>

<%= link_to 'Show', @client %> |
<%= link_to 'Back', clients_path %>
